{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/st.css' %}" />
</head>
<body>    
    <div id="content">{% block content %}{% endblock %}</div>
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                        <a href="." class="close">✖</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <div id="header">
        <span class="logo">Koss` blog</span>
        {% if request.user.is_authenticated %}
            <ul class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <li class="hidden">{% if section == "dashboard" %}class="selected"{% endif %}></li>
                        <a href="{% url 'blog:dashboard' %}">My dashboard</a>
                    <li class="hidden">{% if section == "images" %}class="selected"{% endif %}></li>
                        <a href="#">Favourite</a>
                </div>
            </ul>
        {% endif %}
        
        <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name }},
                <a href="{% url 'blog:logout' %}">Log-out</a>
            {% else %}
                <a href="{% url 'blog:login' %}">Log-in</a>
            {% endif %}
        </span>
    </div>
    <div id="footer">
        <h2>Koss` blog</h2>
            <p>2016</p>
    </div>
</body>
</html>