{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
</head>
<body>    
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="header">
    </div>
    <div>
        <form class='logo' action='login/' method="post">
            {% csrf_token %}
            <input type="submit" class="btn" value="LOG IN" name="mybtn">
        </form>
    </div>
    <div id="sidebar">
        <h2>Koss` blog</h2>
            <p>Let`s fun!</p>
    </div>
</body>
</html>